
@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);

/*------ Prncipal -------*/
html, body {margin: 0;padding: 0;height: 100%;-webkit-text-size-adjust:none;-webkit-font-smoothing: antialiased;}
body{padding:0;margin:0;background: #fff;font: 400 1.1em/1.3em 'Crimson Text', serif;color:#292b37; overflow-x:hidden}
a, a img, img{border:none;outline:none;text-decoration:none;color:#000}
strong{font-weight:700}
h1,h2,h3,h4{font-weight:400; font-size: 2.3em; letter-spacing:2px;line-height: normal;}
h3,h4{ font-size:2em;}
ul,ul li{list-style:none;padding:0;margin:0;}
p{margin:5px 0;}
:-moz-placeholder {color: #292b37;}
::-moz-placeholder {color: #292b37;}
:-ms-input-placeholder {color: #292b37;}
::-webkit-input-placeholder {color: #292b37;}
form{overflow:hidden}
input,select,textarea{border:none;font: 400 1em 'Crimson Text',serif;background: transparent;display:inline-block;padding: 9px 4% 6px;border:1px solid #8a8583; outline:none;width: 100%;margin: 0 0 3%;box-sizing: border-box;}
button{border: 1px solid #8a8583;background: rgba(255,255,255,.2);cursor:pointer;font: 600 1.1em 'Crimson Text';display: inline-block; color: #292b37;margin: 2% 0 0;float: right;width: 42%;padding: 2% 0 1%;}
button:hover{ opacity:.8}
button[type="reset"]{ color: #000; border: background: #fff;}

select{ height: 28px; border-radius: 0; -webkit-appearance: inherit;}



/*------ Transition -------*/
a{-webkit-transition: .4s;-moz-transition: .4s;-o-transition: .4s;transition: .4s;}

/*------ Containers -------*/
main{ position:absolute;height:100%; width:100%; overflow: hidden; background:#b7b1b1 url(../img/frontend/horse.jpg) no-repeat top right/ auto 100%;}
.inner{overflow:hidden;width: 95%;margin: 0 auto; height:100%; max-width:1100px; position:relative}

.content{ width: 36%; height:100%; position:relative; background:url(../img/frontend/bg_form.png) no-repeat top left/ auto 100%; padding: 5% 0 0 5%; box-sizing:border-box;text-align: center;min-width: 390px;z-index: 1;}
.content h1{ display:block; margin:2% auto 10%; text-indent:-9999px; background:url(../img/frontend/equ_logo.png) no-repeat center center/contain;font-size: 1.8em;}
.content p{ font-size: 1.8em;margin: 8% 0;}
.content ul{ padding: 3% 0 5%; overflow:hidden;border-top: 1px solid rgba(255,255,255,.2);border-bottom: 1px solid rgba(255,255,255,.2); margin: 3% 0 7%;text-align: center;}
.content ul li{ display:inline-block; /* width:24%; */ text-align:left;padding: 0 5%;}
.content ul li span{ display:block; font-size:3em; margin: 13% auto;}

.content ul li span{ display:block; font-size: 2.6em; margin: 0 auto;line-height: 1em;}


.top{ width:100%; position:relative; height: 60%;}
.top:after{ width:100%; height:49px; position:absolute; content:''; left:0; top:0; background:url(../img/frontend/bg_top.png) repeat-x top left;}
.top:before{ width:50%; height:100%; position:absolute; content:''; left:0; top:0; background:url(../img/frontend/bg_left.png) no-repeat top left; background-size:100% 100%;}

.top .inner{ position:relative;overflow: visible;}
.top .inner:after{ position:absolute; left: -12%; top:0; width: 57%; height: 100%; background: url(../img/frontend/bg_light.png) no-repeat top center/100% 100%; content:''; display:block;z-index: 0;opacity: .8;}


.instagram{position:absolute; width:100%; height: 40%; bottom:0; left:0; background:rgba(255,255,255,.8); border-top:3px solid #f6f5f5;}
.instagram div{ padding: 2% 5%;}
.instagram div p span{ color:#999;}
.instagram div p { margin:2% 0}




footer{ position:absolute; background:#fff; height: 30px; bottom:0; left:0; width:100%;}
footer .inner{  color:#999; font-size:.9em;padding: 5px 0%;}
footer .inner p{ float: right;margin: 0; display:block;text-align: right;}
footer .inner a{ float:left; color:#999;}
footer .inner a:hover{ color:#666;}



/*//////////  repsosive  ///////////////*/

/*******  tablet landscape  *****/
@media screen and (min-width: 900px) and (max-width: 1050px){
	.content{ padding:3% 0 0 5%}
	.content h1{ margin:2% auto 8%}
	.content p{ margin:6% 0}
}

/*******  tablet portrait  *****/
@media screen and (min-width: 600px) and (max-width: 899px) and (orientation:portrait){
	main{ background-position: 0%;}
	.top{ height:70%;}
	.instagram{ height:30%}
	.top .inner:after{ width: 78%;}
	.content{ padding: 20% 0 0 9%;width: 60%; min-width:400px}
}


/*******  mobile  *****/
@media screen and (max-width: 740px){
	main{ background-position: 18%; background-size: auto 100%;position: relative;height: auto;}
	.content{ width: 105%;min-width: inherit;padding: 9% 10% 0;font-size: .9em;height: auto;}
	.content p{ font-size: 1.2em;}
	.content ul li{ padding:0 4%;font-size: .9em;}
	.top{ height: auto;}
	.top .inner:after{width: 133%;left: -20%;}
	.instagram{ height: auto;position: relative; min-height:180px}
	footer{ font-size: .6em;}
	form{overflow:hidden; padding-bottom:5%}
	html, body{height:inherit}
	
	.top:after{ height:30px; background-size:auto 100%}
}	

/*******  mobile landscape  *****/
@media screen and (max-width: 740px) and (orientation:landscape){
	html,body { -webkit-text-size-adjust:none; }
	input{ padding:2%;}
	.content{/* width:100%; *//* left: 0; */}
	.content h1{ /* position:absolute; */ /* left: 23%; */ /* top: 4%; *//* width: 10%; */margin: 1% auto 5%;}
	.content p{font-size: .9em; margin: 5% 0 0;}
	.content ul{ font-size:.7em; padding:1% 0 2%}
	.content ul li{ padding: 0 3%}
	.content p,.content ul{ font-size: 1.2em; /* width:50%; */ /* clear:left; */}
	.content form{ /* float:right; */ /* width: 44%; *//* position: absolute; *//* right: 0; *//* top: 13%; */}
	footer{ font-size:.8em}
	.top{ }
	.top .inner:after{ width: 132%;left: -11%;}
	.instagram{ height: 50%;}
	.instagram div{ padding:1% 5%}
	.instagram div p{ margin:0;font-size: .8em;}
		
	

}

@media screen and (min-width: 900px) and (min-height: 500px) and (max-height: 740px){
	.content{ padding: 3% 0 0 5%;}
	.content h1{ font-size: 1.5em;margin: 2% auto 0%;}
	.content ul{ margin: 1% 0;font-size: .8em;padding: 2% 0 3%;}
	.content p{ font-size:1.3em; margin:4% 0}
	input{ padding: 1% 5%;}
	.instagram div{ padding:0 5%}
	.instagram div p{ margin:1% 0}
}
@media screen and (min-width: 737px) and (min-height: 300px) and (max-height: 580px){
	.content{ padding: 3% 0 0 5%;}
	.content h1{ font-size: 1.5em;margin: 2% auto 0%;}
	.content ul{ margin: 1% 0;font-size: .8em;padding: 2% 0 3%;}
	.content p{ font-size:1.3em; margin:4% 0}
	input{ padding: 1% 3%;}
	.instagram{display:none}
	.top{ height:100%;}
}
